.vat-container {
    background-color:#F0EEEE;
    margin-left: 8px;
    padding-bottom: 5px;

}
.vat-container .vat-input {
    font-family: Lato;
    font-size: 20px;
    width: 80%;
    padding: 5px;
}