.header_logo img {
    display:block;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.navbar-header{
    display:none;
}
.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-nav.navbar-right:last-child{
    margin:0 auto;
    list-style:none;
}
.navbar-default .navbar-nav>li>a{
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none;
}




.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}

.snippet_testimonial {
  border: 1px solid #EAEAEA;
  padding: 20px;
}

// These lines will add a default style for our snippet. Now let's create our custom rules for the options.

.snippet_testimonial {
  border: 1px solid #EAEAEA;
  padding: 20px;

  &.opt_shadow img {
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.4);
  }

  &.opt_grey_bg {
    border: none;
    background-color: #EAEAEA;
  }
}